
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 200px;
}
.nav-title{
    font-size: 40px;
    font-family: 'Agdasima', sans-serif;
    font-family: 'Caprasimo', cursive;
}
.text-primary{
    color: orangered;
}
nav> ul{
    display: flex;
    align-items: center;
  
}
nav li{
    list-style: none;;
    margin-right: 50px;
 
}
nav a {
    text-decoration: none;
    color: black;
}
.btn-primary{
    background-color: orangered;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/************header style*************/
.header{
    background-color: rgb(243, 246, 226);
 
    
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.banner-greeting{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    font-size: 30px;
}
.banner-title{
    font-weight: 900;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;

    
}
.banner-title-2{
    color: orangered;
}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    border-radius: 80%;
    border: 5px solid rgb(255, 208, 0);
    box-shadow: 10px 5px 5px 5px rgb(231, 130, 130);
}
main{
    max-width: 1140px;
    margin: 0 auto; 
}

.about{
    padding: 150px;
    border-radius: 10px;
    background: rgb(234, 213, 213);
    margin: 130px 0;
}
.about-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.about-desciption{
    text-align: center;
  
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-description{
    text-align: center;
}
#description-padding{
   padding: 30px 150px;

}
.skill-container{
    display: flex;
    gap: 24px;
    background-color: aliceblue;
    padding: 70px;
  
}

.skill{
   padding: 30px;
  
   border-radius: 5px;
   box-shadow: 0px 6px 50px 0px black;
}
/*************resume***********/
.resume{
    padding: 70px
}
.section-title{
    font-size: 40px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.resume-container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}
.resume-column-title{
    font-weight: 900;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.item-title{
    font-weight: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
.item-inistitute{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(115, 116, 117);
}
.resume-discription{
  
    line-height: 20px;
}
.resume-container hr{
    margin: 30px;
}
.Download-cv{
    text-align: center;
    margin-bottom: 20px;
}
footer{
    display: flex;
    background-color: beige;
    padding: 130px 220px;
    margin-top: 130px;
    gap: 100px;
}
.contact input, textarea{
    display: block;
    border: 0;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 18px 35px;
}
.soical-icon {
    text-align: center;
    font-size: 30px;
    
}
.soical-icon i{
    margin: 10px;
}
.soical-icon i:hover{
     
      color: rgb(128, 124, 124);
      border-radius: 50%;
}